@model List<Instructor>
@{
    ViewBag.Title = "title";
}
<h1 class="text-center m-5">Choose Instructor</h1>
<div class="row justify-content-evenly">
    @foreach (var instructor in @Model)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img height="300px" src="~/img/peep-2.svg" class="card-img-top"/>
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@instructor.InstructorFullName</h5>
                    <a href="~/Course/GetAllCoursesOfInstructor/@instructor.InstructorId"
                       class="btn btn-primary">
                        Select
                    </a>
                </div>
            </div>
        </div>
    }
</div>